<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolios</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolios/base.css' %}">
    <script src="{% static 'portfolios/base.js' %}" async></script>
</head>

<body>
    <header class="topnav">
        <div>
            <img src="{% static 'portfolios/images/triangle_up.png' %}" alt="" width="28" height="28">
            <img src="{% static 'portfolios/images/triangle_down.png' %}" alt="" width="28" height="28">
        </div>

        <nav>
            <button id="btnOpen" class="topnav__open" aria-expanded="false" aria-labelledby="nav-label">
                <img src="{% static 'portfolios/images/menu.svg' %}" alt="">
            </button>
            <div id="topNavMenu" class="topnav__menu" role="dialog" aria-labelledby="nav-label">
                <button id="btnClose" class="topnav__close" aria-label="close">
                    <img src="{% static 'portfolios/images/close.svg' %}" alt="">
                </button>
                <ul class="topnav__links">
                    <li class="topnav__item"><a href="{% url 'portfolios:index' %}" class="topnav__link">HOME</a></li>
                    <li class="topnav__item"><a href="{% url 'portfolios:portfolios' %}"
                            class="topnav__link">PORTFOLIO</a></li>
                    <li class="topnav__item"><a href="#" class="topnav__link">CONTACT ME</a></li>
                </ul>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock content %}
    <footer>
        <div class="bottom__nav">
            <div class="bottom__nav__left">
                <div>
                    <img src="{% static 'portfolios/images/triangle_up_white.png' %}" alt="">
                    <img src="{% static 'portfolios/images/triangle_down_white.png' %}" alt="">
                </div>
                <ul class="bottom__nav__links">
                    <li class="bottom__nav_item"><a class="bottom__nav__link"
                            href="{% url 'portfolios:index' %}">HOME</a></li>
                    <li class="bottom__nav_item"><a class="bottom__nav__link"
                            href="{% url 'portfolios:portfolios' %}">PORTFOLIO</a></li>
                    <li class="bottom__nav_item"><a class="bottom__nav__link" href="#">CONTACT ME</a></li>
                </ul>
            </div>
            <div class="bottom__nav__right">
                <img src="{% static 'portfolios/images/github.svg' %}" alt="">
                <img src="{% static 'portfolios/images/x-twitter.svg' %}" alt="">
                <img src="{% static 'portfolios/images/linkedin.svg' %}" alt="">
            </div>
        </div>
        <div class="copyright">
            <p>&copy;Designed and coded by salman gawhar,2024</p>
        </div>
    </footer>
</body>

</html>